/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
  box-sizing: border-box;
  font-size: 16px;
}
*{
  box-sizing: inherit;
}
html,body{
  height: 200%; 
}
main{
  height:100vh;
  width100%;
  border:0px solid black;
  background-image: url("img1.jpg");
  background-size: cover;
  background-position:  center ;  
  background-attachment: fixed !important;
  background-size: cover !important;
}
header{
  position: fixed;
  height:5vh;
  width:100%;
  border:0px solid red;
}
.header-L{
  height:100%;
  width:40%;
  border:0px solid green;
  float:left;
}
 h4{
    margin-left: 15%;
    color: black;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 1%;
  }
.logo-a{
    color:black;
    text-decoration:none;
  }
.header-R{
  height:100%;
  width:60%;
  border:0px solid green;
  float:left;
}
nav *{
  float: left;
  display: block;
  height: 100%;
}

nav li a {
    display: block;
    margin: 0 25px;
    color: black;
    margin-right: 1px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 14px 17px 8px;
 }
.nav-button:hover{
  color:red;
}
.fa-cart-shopping{
  padding-top: 22%;
}
.fa-magnifying-glass{
  padding-top: 22%;
}
.mobile-nav{
  display: none;
}
.burger{
  display: none;
}
.main-container {
  min-width: 37%;
  position: absolute;
  top: 25%;
  left: 5%;
}
h1 {
  font-size: 6rem;
  line-height: 90%;
}

h1 > span {
  display: block;
}

.search {
  padding: 4% 0;
}

.search * {
  float: left;
}

.search input, button {
  border: 0;
  padding: 15px 0;
}

.search form {
/*   width: 80%; */
  width: 45%;
}

.search input {
/*   width: 100%;
  padding-left: 20px;
  border-radius: 6px 0 0 6px; */
  border: 1px solid #C7C0BC;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    border-right: none;
    font-size: 1vw;
    box-shadow: 0px 12px 15px 5px rgb(0 0 0 / 20%);
}

.search button {
    text-decoration: none;
    color: white;
    background-color: #FF8800;
    width: 19%;
    margin: 0 0 0 1%;
    padding: 0.6rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1vw;
    box-shadow: 0px 12px 15px 5px rgb(0 0 0 / 20%);
}

/*About us  */
.second-main{
  height:80vh;
  width100%;
  border:0px solid black;
  background: #f0f0f0;
/*   background-image: url("img2.jpg");
  background-size: cover;
  background-position: left ; */
}
.restaurantimage{
    width: 45%;
    height: 80%;
    float: left;
    border: 0px solid black;
    margin-top: 6%;
    margin-left: 2%;
    overflow:hidden;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.aboutus-div{
    height: 85%;
    border: 0px solid black;
    width: 50%;
    float: right;
/*     margin-right: 10%; */
    margin-top: 5%;
}
.aboutus-span{
  font-size: 2.2vw;
  color: #FF8800;
  font-weight: 600;
}
.section-title{
  font-size: 5vw;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  line-height: 100%;
}
.aboutus-p{
    font-size: 1.2vw;
    line-height: 1.5;
    margin-top: 1.5rem;
    width: 85%;
}
.aboutus-btn{
    text-decoration: none;
    color: white;
    background-color: #FF8800;
    padding: 1.1rem;
    text-align: center;
    border-radius: 1rem 0 0 1rem;
    font-size: 1vw;
    position: relative;
    top: 3rem;
}

.aboutus-btnArrow {
    margin-left: -1%;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 136, 0, 0.7);
    padding: 1.1rem;
    text-align: center;
    border-radius: 0 1rem 1rem 0;
    font-size: 1vw;
    position: relative;
    top: 3rem;
}

/* Food Gallery */
.foodgallery-section{
  height:100vh;
  width100%;
  border:0px solid black;
}
.foodgallery-heading{
  height:10%;
  width100%;
  border:0px solid black;
}
.heading {
    font-size: 30px;
    font-weight: 600;
    margin-top: 2%;
    color: #FF8800;
    margin-left: 45%;
    position: absolute;
}
.gallery-container{
  height:90%;
  width:80%;
  border:0px solid black;
  margin-left:10%;
}
.gallery1-gallery2{
  height:100%;
  width:33.3333%;
  border:0px solid black;
  float:left;
}
.gallery1{
  height:40%;
  width:98%;
  border:0px solid black;
  font-family: 'Roboto', sans-serif;
}
.gallery1-img{
  height:70%;
  width:100%;
  border:0px solid black;
  overflow:hidden;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery-h3{
  font-size: 18px;
  line-height: 25px;
  
}
.gallery1-div{
  height:30%;
  width:100%;
  border:0px solid black;
}
.gallery2 {
    height: 55%;
    width: 98%;
    margin-top: 5%;
    border: 0px solid black;
   font-family: 'Roboto', sans-serif;
}
.gallery2-img{
  height:70%;
  width:100%;
  border:0px solid black;
  overflow:hidden;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery2-div{
  height:30%;
  width:100%;
  border:0px solid black;
}
.gallery3{
  height:100%;
  width:33.3333%;
  border:0px solid black;
  float:left;
  font-family: 'Roboto', sans-serif;
}
.gallery3-img{
  height:80%;
  width:100%;
  border:0px solid black;
  overflow:hidden;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery3-div{
  height:20%;
  width:100%;
  border:0px solid black;
}
.gallery4-gallery5{
  height:100%;
  width:33.3333%;
  border:0px solid black;
  float:left;
}
.gallery4{
  height:40%;
  width:98%;
  margin-left: 2%;
  border:0px solid black;
  font-family: 'Roboto', sans-serif;
}
.gallery4-img{
  height:70%;
  width:100%;
  border:2px solid black;
  overflow:hidden;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery4-div{
  height:30%;
  width:100%;
  border:0px solid black;
}
.gallery5{
    height: 55%;
    width: 98%;
    margin-left: 2%;
    margin-top: 5%;
    border: 0px solid black;
   font-family: 'Roboto', sans-serif;
}
.gallery5-img{
  height:70%;
  width:100%;
  border:0px solid black;
  overflow:hidden;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery5-div{
  height:30%;
  width:100%;
  border:0px solid black;
}

/*Table booking  */

.hours-section{
  height:120vh;
  width:100%;
  border:0px solid black;
  background-image: url("hoursbackgroundimage.jpeg");
  background-position: center;
   backdrop-filter: blur(8px);
   background-attachment: fixed !important;
  background-size: cover !important;
}
.hours-first-section{
  height:45%;
  width:100%;
  border:0px solid black;
}
.hours-spanheading{ 
    font-size: 2vw;
    color: #FF8800;
    font-weight: 600;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.hours-h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-family: 'Libre Baskerville', serif;
  font-size: 4vw;
  margin-top: 2rem;
}
.fa-phone{
  font-size: 3vw;
  color: #FF8800;
  display: inline-block;
  margin: 1rem 48%;
}
.hours-spancall{
  display: inline-block;
    margin: 0 44%;
    font-size: 1.8vw;
    width: 12ch;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}    
.hours-phoneno{
  color: #FF8800;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size:2rem;
}
.hours-second-section{
  height:10%;
  width:100%;
  border:0px solid black;
}
.hours-div1{
  height:100%;
  width:50%;
  border:0px solid black;
  float:left;
  padding-left: 25%;
   font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}
.hours-div1 span{
   display: block;
}

.hours-div2{
  padding-left: 8%;
  height:100%;
  width:50%;
  border:0px solid black;
  float:left;
  font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}
.hours-div2 span{
   display: block;
   font-size: 2rem;
}
.hours-third-section{
  height: 40%;
    width: 50%;
    border: 0px solid black;
    margin-top: 1%;
    margin-left: 25%;
    overflow:hidden;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*location  */
footer{
  height: 10%;
  width: 100%;
  border: 0px solid black;
}

.footer-first-section{
  height: 100%;
  width: 25%;
  font-family: 'Roboto', serif;
  border: 0px solid black;
  float:left;
}
.footer-logo{
    margin-left: 10%;
    height: 20%;
    width: 25%;
    border: 0px solid black;
    overflow:hidden;
}
.footerlogo {
  object-fit: cover;
  width: 115%;
  height: 88%;
}
.footer-span1{
  display: block;
  font-size: 1rem;
  margin-top: 5%;
  margin-left: 10%;
}
.footer-span1 a{
  color: #FF8800;
  text-decoration:none;
}
.footer-p{
    display: block;
    font-size: 1rem;
    margin-left:10%;
}
.footer-small{
     margin-left: -130%;
    font-size: 0.7rem;
}
.footer-second-section{
  height: 100%;
  width: 25%;
  border: 0px solid black;
  font-family: 'Roboto', serif;
  float:left;
}
.footer-h4-1{
  font-size: 2rem;
  font-weight: bold;
  
  margin-left: 15%;
  margin-top: 5%;
}
.footer-span2{
    display: block;
    
    font-size: 1.2rem;
    line-height: 90%;
    margin-left: 15%;
    margin-top: 5%;
}

.footer-third-section{
  height: 100%;
  width: 25%;
  font-family: 'Roboto', serif;
  border: 0px solid black;
  float:left;
}
.footer-h4-2{
  font-size: 2rem;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 5%;
}
.footer-address{
  display: block;
  font-size: 1rem;
  font-style:italic;
  line-height: 90%;
  margin-left: 15%;
  margin-top: 5%;
}
.footer-span3{
  display: block;
  font-size: 1rem;
  line-height: 90%;
  margin-left: 15%;
  margin-top: 5%;
}
   
.footer-fourth-section{
  height: 100%;
  width: 25%;
  font-family: 'Roboto', serif;
  border: 0px solid black;
  float:left;
}
.footer-h4-3{
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 4%;
  margin-top: 6%;
}
.footer-form{
  width: 100%;
}
.footer-input{
  margin-left: 3%;
  margin-top: 7%;
  width: 87%;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-shadow: 0px 12px 15px 5px rgb(0 0 0 / 20%);
}
.fa-paper-plane{
  position: relative;
  right: 3rem;
  top: 0.3rem;
  font-size: 2rem;
  color: #FF8800;
}
.footer-Socials{
    font-size: 3rem;
    color: #FF8800;
    height: 20%;
    width: 60%;
    border: 0px solid black;
    margin-left: 30%;
    margin-top: 30%;
}

@media (max-width: 1329px) {
  .header-L {
    width: 35%;
  }
  nav li a {
    margin: 0 5px;
    padding: 10px 4px 17px 4px;
  }
  .footer-Socials {
    font-size: 2rem;
  }
  .footer-input {
    font-size: 1rem;
  }
  .fa-paper-plane {
    display: none;
  }
  .hours-div1 {
    padding-left: 15%;
}

}



@media (max-width: 970px){
  h4 {
    font-size: 16px;
    margin-left: 5%;
    margin-top: 3%;
  }
  nav li a {
    padding: 10px 1px 17px 2px;
  }
  .footer-Socials {
    font-size: 1.5rem;
  }
}





  @media (max-width: 860px){
    .header-L{
      display: none;
    }
    .footer-Socials {
      font-size: 1.5rem;
    }
    .header-R {
      margin-left: 14%;
      width: 85%;
    }
    nav li a {
      padding: 10px 17px 17px 2px;
  }
  
  }













/* Tablet view 
@media screen and (max-width: 1024px) {
  .burger{
  display: none;
}
  .nav-links{
    width: 60%;
  }
} */

/*Mobile-view  */
@media (max-width: 768px) {
  /* nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5D4954;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
} 

.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size:14px ;
} 
 .burger{
  display: none;
  /cursor: pointer; 
} 
 .burger div{
  width: 25px;
  height: 5px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
} */

.hours-div1 {
  padding-left: 12%;
}
header{
  display:none;
}


h1 {
    font-size: 4rem;
}
.fa-solid, .fas {
  margin-left: 96%;
  margin-top: -8%;
}
.aboutus-btnArrow {
  display: none;
}
.aboutus-btn {
    border-radius: 1rem;
}

/*   mobile nav */
  body{
    overflow-x: hidden;
  }
  .mobile-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1px 30px rgb(0 0 0 / 10%);
  }
/*   cusinie-restaurant */
  .logo{
    margin-top: 3%;
    margin-left: -10%;
    color: black;
    letter-spacing: 5px;
    font-size: 14px;
  }
  
/*   nav list anchor */
  .nav-links{
    
    justify-content: space-around; 
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    transform: translateX(100%);
    transition: transform 0.5s case-in;
  }
  .nav-links li{
    list-style: none;
    opacity: 0;
  }
  .nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size:14px ;
  } 
  /* .burger{
    display: none;
    cursor: pointer;
  } */
/*   styling nav crsor */
  .burger{
    display:block ;
    cursor: pointer;
  }
  .burger div{
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 13px 9% -8px 70%;
    transition: all 0.3s ease;
  }
  
}
/*animation nav link slide show  */
.nav-active{
  transform: translateX(0%);
}


@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

/*animation nav-cursor into cross when it open  */
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,9px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-9px);
}





