/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
  box-sizing: border-box;
  font-size: 16px;
}
*{
  box-sizing: inherit;
}
html,body{
  height: 100%;
}

/* header */
header{
  height: 5vh;
  width: 100%;
  border: 0px solid black;
  border-bottom: 2px solid rgb(215,216,218);
}
header:hover{
  border-bottom: 3px solid grey;
}

/* option section */
.header-L{
  height: 100%;
  width: 25%;
  border: 0px solid black;
  float:left;
  
}
select{
  margin-left: 76%;
  margin-top: 2%;
  border: none;
  color: blue;
  font-weight: 600;
}

/* search section */
.header-M1{
  height: 100%;
  width: 15%;
  border: 0px solid black;
  float:left;
  color:green;
}
/* styling search input */
input{
  margin: 3% 0 0 1%;
  border: none;
  width: 50%;
  background: rgb(241, 241, 243);
  font-weight: 600;
  padding:2% 0 0 0;
}

/*  logo section  */
.header-M2{
  height: 100%;
  width: 25%;
  border: 0px solid black;
  float:left;
}
.logo img{
    height: 100%;
    margin-left: 11%;
}

/*nav section  */
.header-R{
  height: 100%;
  width: 35%;
  border: 0px solid black;
  float:left;
}
nav *{
  float: left;
  display: block;
  height: 100%;
}
nav li a {
    display: block;
    margin: 0 12px;
    color: green;
    margin-right: 1px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px 0 5px;
 }


.nav-hover:hover,select:hover{
  color:red;
}

.mobile-navbar-btn{
  display: none;
}


/* hero section */
.hero{
  height: 95vh;
  width: 100%;
/*   border: 1px solid black; */
}
.hero-gallery{
  height: 100%;
  width: 50%;
  border: 0px solid black;
  float:left;
}
/* styling student image */
.gallery{
    height: 75%;
    width: 75%;
    margin: 10% 0 0 20%;
    border: 0px solid black;
    overflow:hidden;
}
.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* hero-section second part */
.hero-content{
  height: 100%;
  width: 50%;
  border: 0px solid black;
  float:left;
}
/* styling 4 button */
.section-button{
  background: lightgreen;
  color: white;
  margin: 3% 0 0 0;
  padding: 0 8%;
  height: 4%;
  border-radius:5%;
  display:inline-block;
}
.section-button:hover{
  color:red;
  background-color:darkcyan;
}
h1{
  line-height: 81%;
  margin: 23% 0 0 0;
  font-size: 6rem;
}
p{
  margin-top: 3%;
 font-size: 1.8rem;
}
@media (max-width:1230px){
  header{
       height: 5vh;
       width: 100%;
       border: 0px solid black;
       border-bottom: 2px solid rgb(215,216,218);
  }
    .header-L{
      height: 100%;
      width: 11%;
      border: 0px solid black;
      float:left;
  }
    select{
      margin-left: 20%;
      margin-top: 15%;
      border: none;
      color: blue;
      font-weight: 600;
  }
    /* search section */
    .header-M1{
    height: 100%;
    width: 16%;
    border: 0px solid black;
    float:left;
    color:green;
  }
  input{
    margin: 8% 0 0 8%;
    border: none;
    width: 50%;
    background: rgb(241, 241, 243);
    font-weight: 600;
    padding:2% 0 0 0;
  }
    
    .header-R{
    height: 100%;
    width: 47%;
    border: 0px solid black;
    float:left;
  }
    nav li a {
      display: block;
      margin: 8px 51px;
      color: green;
      margin-right: 1px;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 600;
      padding: 6px 10px 0 5px;
   }
   .mobile-navbar-btn{
    display: none;
  }
    .section-button {
      background: lightgreen;
      color: white;
      margin: 3% 0 0 0;
      padding: 0 5%;
      height: 4%;
      border-radius: 5%;
      display: inline-block;
  }
  h1 {
    line-height: 102%;
    margin: 70% 0 0 0;
    font-size: 3rem;
}
p {
  margin-top: 3%;
  font-size: 1.4rem;
}
  }

  @media (max-width:900px){
    html,body{
      height: 100%;
      margin-top: 0rem;
      margin-left: 0rem;
      margin-right: 0rem;
    }
    header{
      height: 10vh;
      width: 100%;
      border: 0px solid black;
    }
  
  header:hover {
      border-bottom: none;
  }
 
  select{
    display: none;
  }


  
  .header-M1{
    display: inline-block;
    margin-left: 65%;
    height: 100%;
    width: 10%;
    border: 0px solid black;
  }
   input{
     display: none;
   }
   button {
    border: none;
    background-color: white;
    font-size: 1.5em;
    margin-left: 20%;
    margin-top: 21%;
}
  
  .header-M2{
    height: 100%;
    width: 70%;
   margin-left: -86%;
    display: inline-block;
    border:0px solid black;
}
.logo img {
  height: 70%;
  margin-left: 3%;
}

 .header-R{
 display: none;
} 
div{
  height: 100%;
  width: 10%;
  margin-left: 3%;
  border: 0px solid black;
  display: inline-block;
}
.mobile-navbar-btn{
  display: inline-block;
}
.mobile-nav-icon {
  margin-top: 15%;
  width: 2.5rem;
  height: 2.5rem;
  color: #212529;
}
.gallery {
  height: 75%;
  width: 75%;
  margin: 25% 0 0 15%;
  border: 0px solid black;
  overflow: hidden;
}
h1 {
  line-height: 100%;
  margin: 53% 0 0 0;
  font-size: 2rem;
}
p {
  margin-top: 5%;
  font-size: 1rem;
}
.section-button {
  background: lightgreen;
  color:white;
  margin: 5% 0 0 20%;
  height: 5%;
  border-radius: 0%;
  display: inline-block;
  
}
  }